*png
*txt
*pkl
*pth
*pt
*pth.tar
*pkl.tar
*pt.tar
*pth.tar.gz
*pkl.tar.gz
*pt.tar.gz
*yaml
*json
*csv
*npy
*npz
*log
*log.txt
*log.csv
*log.npy
*log.npz
*pdf
*png
*jpg
N*seed*
*gz
*tar
*zip
.DS_Store
*pyc
*sh 
